@media screen and (max-width:768px) {
	/* header  */
	.mobile .header {background-color:rgba(0, 0, 0, 0.5);}
	.header {height:auto; padding:15px 0; position:fixed; top:0; z-index:500;}
	.header .inner {padding:0 20px;}
	.header .home .logo {width:100%; height:100%;}	
	.header .logo .text {font-size:0.875rem;}
	.header .logo .text strong {font-size:1.0rem;}
	.header .inquiry {display:none;}
	.header .btn_gnb {width:30px; height:30px;}
	.header .gnb_box::before {top:52%;}
	.header .btn_gnb::before {width:24px; height:6px; top:6px;}
	.header .gnb_box::after {bottom:6px;}
	.mobile .header_cont .header_nav {display:none;}

	/* nav */
	.nav_inner {flex-direction:column; justify-content:center; align-items:flex-start; padding:40px;}
	.gnb_link {margin-bottom:40px;}
	.gnb_link h4 {position:unset; transform:unset; margin-bottom:10px;}
	.nav_list li a {font-size:2.5rem;}
	.company_info h4 {margin-bottom:10px;}
	.company_info hr {margin:20px 0;}
	.wylie_info {margin-bottom:40px;}
	.wylie_info dd a {font-size:0.875rem;}
	.gnb_area .company_info .inquiry {font-size:1rem; line-height:24px; padding:4px 20px;}

	/* layout */
	.sub_wrap.mobile {height:100%;}
	.sub_wrap.mobile .container {min-height:calc(100% - 160px);}
	.sub_wrap.mobile .container .inner {width:100%;}
	.sub_contents {padding:20px;}
	.sub_contents .sub_title {font-size:2rem; margin-bottom:40px;}
	.footer .inner {width:100%; padding:20px;}
	.address {flex-direction:column;}

	/* main */
	.header .inner.home {justify-content:space-between;}
	.header .home .wylie_logo {position:static;}
	.header .home .wylie_logo .text {font-weight:300; font-size:0.875rem;}
	.header .home .wylie_logo .text strong {font-size:1.0rem; display:inline;}
	.main .main_contents {height:calc(100% - 48px);}
	.main_slider {height:100%; padding:0;}
	.aside_nav {display:none;}
	.my_ci {height:100%;}
	.my_ci .visual_area {height:100%;}
	.my_ci .visual_text {align-items:flex-start; justify-content:flex-start; padding:60px 20px;}
	.visual_text .text {width:220px; margin-top:20px;}
	.main .scroll_arrow {top:50%; margin-top:0;}
	.main .scroll_arrow.on {display:flex; align-items:center; left:20px;}
	.main .scroll_arrow .text {font-size:0.875rem;}
	.main .scroll_arrow.on .text::after {display:none;}
	.main .scroll_arrow.on::after {position:unset; display:inline-block;}
	.visual_text .text {font-size:2.25rem; margin-bottom:0;}
	.slide_control {bottom:20px; z-index:15;}
	.main_slider .slide_area {width:100%; height:100%;}
	.slide_img {height:100%;}
	.slick-slider {height:100%;}
	.slick-slider * {height:100%;}
	.main_slider img {height:100%;}
	.main_slider .slide_text {width:100%; padding:20px; top:100px; left:0; transform:unset;}
	.slide_text.bg {background-color:rgba(0, 0, 0, 0.2);}
	.slide_text .group span {font-size:2rem; line-height:1;}
	.slide_text .text {font-size:3.0rem; line-height:1;}
	.main_footer {padding:0 20px;}

	/* contents - work */
	.portpolio-list-cont.cx ul li .list-box .list-title .brand-name,
	.portpolio-list-cont.cx ul li .list-box .list-title .project-name {font-size:1rem; text-align:left;}
	.portpolio-list-cont.cx ul li .list-box .list-img-wrap {max-width: 100%;}
	.portpolio-list-cont.cx ul li:nth-child(odd) .list-box .list-img-wrap {margin-left:0px;}
	.portpolio-list-cont.cx ul li:nth-child(even) .list-box .list-img-wrap {margin-right:0px;}

	/* contents - intro */
	.parsona_area {padding:80px 20px; background-size:cover;}
	.parsona_area .slogan {margin-bottom:100%;}
	.parsona_area .slogan .text {font-size:1.5rem; line-height:1.2;}
	.mouse_icon {top:20%;}
	.mouse_icon svg {width:40px; height:50px;}
	.mouse_icon span {font-size:0.875rem;}
	.company_wrap .text_box dt {font-size:1.125rem; line-height:1.2; margin-bottom:20px;}
	.company_wrap .scroll-reveal-text {font-size:1rem; line-height:1.2;}
	.company_wrap .text_box dd .word {font-size:0.875rem; line-height:1.5;}
	.parsona_area .text_box.flex_box {flex-direction:column;}
	.parsona_area .vision_box {margin-top:50%;}
	.vision_img {width:100%; margin-bottom:20px;}
	.vision_img img {width:100%;}
	.company_wrap .text_box dd > p {font-size:0.875rem; line-height:1.5;}
	.value_area {padding:80px 20px;}
	.value_box {flex-direction:column; gap:40px;}
	.value_tit {position:unset;}
	.value .tit {font-size:1rem; line-height:1.5;}
	.value .text {font-size:0.875rem;}
	.value .img {position:absolute; top:0; right:0; width:96px; height:96px;}
	.value.respect .img {background-size:auto 100%;}
	.value.creative .img {background-size:auto 100%;}
	.value.challenge .img {background-size:auto 100%;}

	/* contents - skill */
	.skill_box {padding:20px;}
	.skill_box dt {font-size:1.25rem; padding:0 0 20px; margin-bottom:20px;}
	.skill_detail {flex-wrap:wrap; justify-content:flex-start; gap:20px 0;}
	.skill_detail li {justify-content:center; width:50%;}
	.skill_detail .skill_icon {width:80px; height:80px;}
	.skill_name {font-size:0.875rem;}

	/* contents - career */
	.awards_area {padding:20px;}
	.area_tit {font-size:1.375rem; line-height:1.2;}
	.mobile .area_tit br {display:inline-block;}
	.awards_area .inner_tit {font-size:1.25rem; line-height:1.5; margin:40px 0 20px;}
	.history_info dt {padding-right:40px;}
	.history_info dt .years {font-size:1.25rem; line-height:1.5;}
	.history_info dt .number {font-size:1rem; line-height:28px;}
	.history_info dt::after {width:30px; height:30px; margin-top:-15px; background-position:center; background-size:auto 40px;}
	.awards_list > li {margin-top:40px;}
	.awards_list li.active .history_info dd {padding:10px 0;}
	.awards_area .list_table li {display:flex; flex-wrap:wrap; align-items:center; position:relative;}
	.awards_area .list_table li + li {border-top:1px solid rgba(255,255,255,0.1);}
	.awards_area .list_table li > span {padding:8px 0; font-size:0.875rem; line-height:1.5; border-top:none;}
	.awards_area .list_table li .awards {width:100%; text-align:left;}	
	.awards_area .list_table li .detail {width: auto; padding:0 10px 0 0; text-align:left;}
	.awards_area .list_table li .sector {width: auto; font-size:0.750rem; padding:0; text-align:left;}
	.awards_area .list_table li .project {width: 100%; text-align:left; word-break:keep-all;}
	.awards_area .list_table li .link {width:20%; text-align:center; position:absolute; top:0; right:0;}
	.mobile .awards_area .list_table li .link a {display:block; font-size:0.750rem; line-height:20px; color:#fff;}

	/* contents - etc */
	.search_area {justify-content:space-between;}
	.search_box label,
	.search_box button {font-size:0.750rem;}
	.search_box label {padding:0 10px 0 0;}
	.search_box .btn.type01 {padding:5px 10px;}
	.search_box input {width:160px;}
	.search_area .select_box {margin-left:0;}
	.select_box label {font-size:0; color:transparent; padding:0; opacity:0;}
	.select_box select {min-width:64px; font-size:0.750rem; padding:5px 22px 5px 5px; background-size:16px 16px;}
	.service_area .service_list {gap:40px;}
	.service_list li {width:calc((100% - 40px) / 2);}
	.service_list .info {flex-wrap:wrap; width:100%;}
	.service_list .tit {white-space:wrap; word-break:keep-all;}
	.service_list .img {width:100%; height:auto; margin-right:0;}
	.service_list .img img {max-width:unset; max-height:unset; width:100%; object-fit:contain;}
	.service_list .items {flex-direction:column;}
	.price_box .price {display:block;}
}